<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Cameron's OAuth Practice</h1>
        <h2>HomePage</h2>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eaque mollitia libero rem aut, beatae minus expedita a odio praesentium, nostrum deleniti maiores! Delectus reiciendis rerum, fuga nulla ab eos!</p>
    </main>

</body>
</html>